:root {
    --title-color: #54b689;
  }

  .post .post-title h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 1;
    color: var(--title-color);
    font-weight: bold;
    margin-bottom: 00px;
    display: inline;
  }

.post .post-section h2 a{
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1;
    color: var(--title-color);
    font-weight: bold;
  }

  
.post .post-section h1 a{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1;
    color: var(--title-color);
    font-weight: bold;
  }
  
  .more_pages a{
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1;
    color: var(--title-color);
    font-weight: bolder;
    margin-left: 40px;
    text-decoration: underline;
    margin-left: 110px;
  }

  .post .post-title h3.location{
    font-weight: 200;
    color: var(--title-color);
  }

  .post .post-content {
    font-size: 2.2rem;
    font-weight: 600;
    max-width: 800px;
  }