{{ define "main" }}
  <div class="post" >
    <div class="post-title post-content">
      {{ .Content }}
    </div>

  </div>

  {{ range .Site.Sections.ByTitle}}
  {{$pages_of_section := len .Pages}}
  <div class="post">
    <div class="post-section">
    <h2><a href="{{ .RelPermalink }}">
      {{ if not (eq .Section "education")}} 
        {{pluralize (replace .Section "_" " ")}}
      {{else}}
        {{replace .Section "_" " "}}
      {{end}}
    </a></h2>
  </div>
  </div>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "eq" .Section) }}
  {{ range first .Site.Params.Posts_per_cat (sort  $paginator.Pages "Params.begin" "desc")}}
    <div class="post" >
      {{ if .Params.thumbnail }}
        <div class="post-thumbnail">
          <a href="{{ .RelPermalink }}">
            <img src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
          </a>
        </div>

      {{ end }}
      <div class="post-title" nowrap>
        <h3><a href="{{ .RelPermalink }}">{{.Title}}</a> - </h3><h3 class="location">{{ .Params.location }}</h3>
      </div>
      <div class="post-content">
        <div class="p_part">
          <p>
            {{ .Summary }}
            {{if .Truncated}}
              <a href="{{ .RelPermalink }}" class="read_more">{{ i18n "read_more" }}</a>

            {{end}}
          </p>
        </div>

      </div>

      <!--  -->
      <div class="post-footer">
        <div class="meta">
          <div class="info">
            <em class="fas fa-calendar-day"></em>
            <span class="date">  {{ time.Format "Jan, 2006" .Params.begin }} - 
                {{ if  (time .Params.end).Before now }}
                {{ time.Format "Jan, 2006" .Params.end }}
                {{else}}
                present
              {{end}}
            </span>
            {{ with .Page.Params.Categories }}
              {{ partial "taxonomy/categories.html" . }}


            {{ end }}

            {{ with .Page.Params.Tags }}
              {{ partial "taxonomy/tags.html" . }}


            {{ end }}
          </div>
        </div>
      </div>
    </div>

  {{ end }}
  
  {{if gt $pages_of_section .Site.Params.Posts_per_cat}}
  <div class = "more_pages">
    <a href="{{.RelPermalink}}">More</a>
  </div>
  
  {{end}}
  
  {{end}}
  <div class="pagination">
    {{ template "partials/pagination.html" . }}
  </div>
</div>

{{ end }}
