{{ define "main" }}

<div>
  <!-- I add a first loop through section, then through pages of the sections -->
  {{ range .Site.Sections.ByTitle}}
  <!-- variable used to check later if all posts of sections have been displayed or not -->
  {{$pages_of_section := len .Pages}}

  <div class="post">
    <div class="post-section">
    <h2><a href="{{ .RelPermalink }}">
      <!-- Section titles are diplayed -->
      {{ if not (eq .Section "education")}} 
        {{pluralize (replace .Section "_" " ")}}
      {{else}}
        {{replace .Section "_" " "}}
      {{end}}
    </a></h2>
  </div>
  </div>
  <!-- loop throug pages of the section -->
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "eq" .Section) }}
  <!-- sort by begeinning date in descending order -->
  {{ range first .Site.Params.Posts_per_cat (sort  $paginator.Pages "Params.begin" "desc")}}
    <div class="post" >
      {{ if .Params.thumbnail }}
        <div class="post-thumbnail">
          <a href="{{ .RelPermalink }}">
            <img src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
          </a>
        </div>

      {{ end }}
      <div class="post-title" nowrap>
        <!-- add location next to title -->
        <h3><a href="{{ .RelPermalink }}">{{.Title}}</a>&nbsp;-&nbsp;</h3><h3 class="location">{{ .Params.location }}</h3>
      </div>
      <div class="post-content">
        <div class="p_part">
          <p>
            {{ .Summary }}
            {{if .Truncated}}
              <a href="{{ .RelPermalink }}" class="read_more">{{ i18n "read_more" }}</a>

            {{end}}
          </p>
        </div>

      </div>

      <div class="post-footer">
        <div class="meta">
          <div class="info">
            <em class="fas fa-calendar-day"></em>
            <!-- Display dates of beginning and ed of the experience -->
            <span class="date">  
              {{ time.Format "Jan, 2006" .Params.begin }} - 
                {{ if  (time .Params.end).Before now }}
                {{ time.Format "Jan, 2006" .Params.end }}
                {{else}}
                <!-- Display present if end is in future -->
                present
              {{end}}
            </span>
          </div>
        </div>
      </div>
    </div>

  {{ end }}
  
  <!-- If not all pages are displayed, add "more" link -->
  {{if gt $pages_of_section .Site.Params.Posts_per_cat}}
  <div class = "more_pages">
    <a href="{{.RelPermalink}}">More</a>
  </div>
  
  {{end}}
  
  {{end}}
  <div class="pagination">
    {{ template "partials/pagination.html" . }}
  </div>
</div>
</div>
{{ end }}
